<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container" style="top:60px; position:relative;">
    <div class="card">
        <div class="card-header">
            <h2 style="position:relative;">Cadastro de Categorias:</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/categories/save">
                <input class="form-control form-control-lg" type="text" name="title" placeholder="Defina o nome da Categoria:">
                <br>
                <button class="btn btn-success" style="left: 40%; position: relative;" data-toggle="modal" data-target="#exampleModal">Cadastrar</button>
            </form>
        </div>
    </div>
</div>


<%- include('../../partials/footer.ejs') %>