<nav class="navbar" style="background-color: #969696; height: 58px"  >
   <a href="/">
      <img src="/img/logoblog_02.jpg" width="150px" height="100px" >
   </a>
</nav>
<ul class="navbar-nav mr-auto" >
   <li class="nav-item"id="nav-item-categories">
      <a class="nav-link" href="/admin/categories/">Categories</a>
   </li>
   <li class="nav-item" id ="nav-item-articles">
      <a class="nav-link" href="/admin/articles/">Articles</a>
   </li>
</ul>