
#nav-item-categories{
    position: absolute;
    left: 148px;
    top: 10px;
    color: white; 
}

#nav-item-articles{
    position: absolute;
    left: 245px;
    top: 10px;
    color: white; 
}


#homenavbar{
    position: absolute;
    left: 148px;
    top: 10px;
    color: white; 
}